// font faces
$body-font = -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

// $body-font = Source Sans Pro,Helvetica Neue,Arial,sans-serif;

// font sizes
$body-font-size = 15px
// colors
$grey-bg = #efefef
$blue = #0288D1
$blue-link = #868686
$orange = #FF8400
$grey-publish = #aab2b3
$login-text = #757575
$grey = #bfbfbf
$grey-dark = #808080
// border
$border-radius = 3px

